@* /Volumes/MacInternalHD/Development/VisualStudio/UdemyMVC/VidlyCore/VidlyCoreApp/Views/Inventory/InventoryForm.cshtml *@

@{
    ViewData["Title"] = "Inventory Form";
    Layout = "_Layout";
}
<br />
<br />
<h2>Add Inventory Control Entry</h2>
