@* /Volumes/MacInternalHD/Development/VisualStudio/UdemyMVC/VidlyCore/VidlyCoreApp/Views/Home/About.cshtml *@

@{
    ViewData["Title"] = "About";
    Layout = "_IntroLayout";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Online management of the Vidly movie library.</p>
