@* /Volumes/MacInternalHD/Development/VisualStudio/UdemyMVC/VidlyCore/VidlyCoreApp/Views/Home/Contact.cshtml *@

@{
    ViewData["Title"] = "Contact";
    Layout = "_IntroLayout";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    6890 W. Fitzwater Rd.<br />
    Brecksville, OH 44141<br />
    <abbr title="Phone">P:</abbr>
    886.888.4958
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

