@* /Volumes/MacInternalHD/Development/VisualStudio/UdemyMVC/VidlyCore/VidlyCoreApp/Views/Home/Index.cshtml *@

@{
    ViewData["Title"] = "Home Page";
    Layout = "_IntroLayout";
}

<div class="container mb-auto">
    <div class="row">
        <div class="mx-auto col-md-9">
        </div>
    </div>
</div>
<div class="container">
    <h2>Vidly Online</h2>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><img src="~/images/vidlyimage3.jpg" /></div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>

@section Scripts {
}