@* /Volumes/MacInternalHD/Development/VisualStudio/UdemyMVC/VidlyCore/VidlyCoreApp/Views/Abort/ApplicationError.cshtml *@

@{
    Layout = "_IntroLayout";
}

<br />
<br />
<h2>An unrecoverable error has occurred.</h2>
