@* /Volumes/MacInternalHD/Development/VisualStudio/UdemyMVC/VidlyCore/VidlyCoreApp/Views/Landing/Index.cshtml *@

@{
    ViewData["Title"] = "Landing Page";
    Layout = "_Layout";
}
<br />
<br />
<h2>Welcome to Vidly running on ASP.NET CORE MVC @ViewData["Version"]!</h2>