@* /Volumes/MacInternalHD/Development/VisualStudio/UdemyMVC/VidlyCore/VidlyCoreApp/Views/Vendors/VendorForm.cshtml *@

@{
    ViewData["Title"] = "Vendor Form View";
    Layout = "_Layout";
}
<br />
<br />
<h2>Add New Content Provider</h2>

